


/*

.section {
    float: left;
    background-color: #397;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

input {
    margin: 10px 0px;
}

img {
    vertical-align: middle;
    margin: 0px 10px;
    cursor: pointer;
}


#item_list b {
    cursor: pointer;
}

#item_list {
    margin-bottom: 30px;
}
*/
form input {
    font-size: 8px;
    /*display: block*/;
}

#add_item_section {
    padding: 20px;
    /*height: 300px;*/
    position: absolute;
    top: 60px;
    margin-left: 0px;
    width: 70%;
    left: 15%;
    display: none;
}



.menu h4 {
	padding: 10px;
	background: #def;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.menu-header div {
	display: inline-block;
	font-weight: bold;
	width: 18%;
	padding: 10px;
}

.menu-list-item {
	display: inline-block;
	width: 18%;
	padding: 10px;
}