

.section {
    float: left;
    background-color: #397;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

input {
    margin: 10px 0px;
}

img {
    vertical-align: middle;
    margin: 0px 10px;
    cursor: pointer;
}

#add_item_section {
    display: none;
}

#item_list b {
    cursor: pointer;
}

#item_list {
    margin-bottom: 30px;
}

form {
    background-color: #850;
    padding: 5px;
    font-size: 10pt;
}
